# =================================================================================================
# environment variables for local development containers
# =================================================================================================

# =================================================================================================
# api
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

# allows bypassing rate limiter
API_ACCESS_TOKEN=# `openssl rand --hex 32`

# =================================================================================================
# auth
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

AUTH_ENCRYPTION_KEY=# `openssl rand --hex 16`

# =================================================================================================
# database
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

DATABASE_HOST="localhost" # replace with "postgres" service name in devcontainer
DATABASE_NAME="the-knowledge-base"
DATABASE_PASSWORD=# `openssl rand --hex 32`
DATABASE_PORT="5432"
# DATABASE_SSL_CONNECTION="disabled"
DATABASE_USER="the-knowledge-base"

# =================================================================================================
# email
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

EMAIL_ADDRESS="kb@example.com"
EMAIL_SMTP_PORT="1025"
EMAIL_SMTP_SERVER="localhost"
# EMAIL_SSL_CONNECTION="disabled"

MAILPIT_API_PORT="8025"
MAILPIT_API_BASE_URL="http://localhost:${MAILPIT_API_PORT}"

# =================================================================================================
# images
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

IMGPROXY_BASE_URL="http://localhost:8080"
IMGPROXY_KEY=# `openssl rand --hex 32`
IMGPROXY_PORT="8080"
IMGPROXY_SALT=# `openssl rand --hex 16`

# =================================================================================================
# search
# =================================================================================================

TYPESENSE_RESOURCE_COLLECTION_NAME="the-knowledge-base-resources"
TYPESENSE_WEBSITE_COLLECTION_NAME="the-knowledge-base-website"

# local
# -------------------------------------------------------------------------------------------------

TYPESENSE_ADMIN_API_KEY=# `openssl rand --hex 32`
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_SEARCH_API_KEY=# initialized in `dev:services:setup` script

TYPESENSE_DASHBOARD_PORT="5050"

# =================================================================================================
# sshoc marketplace
# =================================================================================================

SSHOC_MARKETPLACE_API_BASE_URL="https://marketplace-api.sshopencloud.eu"
SSHOC_MARKETPLACE_BASE_URL="https://marketplace.sshopencloud.eu"

# =================================================================================================
# storage
# =================================================================================================

S3_BUCKET_NAME="the-knowledge-base"

# local
# -------------------------------------------------------------------------------------------------

# also used for minio web ui sign-in
S3_ACCESS_KEY=# `openssl rand --hex 16`
S3_HOST="localhost"
S3_PORT="9000"
S3_PROTOCOL="http"
# also used for minio web ui sign-in
S3_SECRET_KEY=# `openssl rand --hex 32`

MINIO_WEB_UI_PORT="9001"

# =================================================================================================
# zenodo
# =================================================================================================

ZENODO_API_BASE_URL="https://zenodo.org"

# =================================================================================================
# zotero
# =================================================================================================

ZOTERO_API_BASE_URL="https://api.zotero.org"
# ZOTERO_API_KEY=
ZOTERO_GROUP_ID="744474"

# =================================================================================================
# revalidation webhook
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

REVALIDATION_WEBHOOK_SECRET=# `openssl rand --hex 32`
REVALIDATION_WEBHOOK_URL="http://localhost:3002/api/revalidate"

# =================================================================================================
# search index api routes
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

SEARCH_SYNC_API_SECRET=# `openssl rand --hex 32`
