/* stylelint-disable custom-property-empty-line-before */

/**
 * ============================================================================================
 * Imports.
 * ============================================================================================
 */

@import "tailwindcss";
@import "@fontsource-variable/inter/standard.css";
@import "@fontsource-variable/inter/standard-italic.css";
@import "@fontsource-variable/fira-code";
@import "./index.css";

/**
 * ============================================================================================
 * Fonts.
 * ============================================================================================
 */

@layer base {
	:root {
		--_font-body: "Inter Variable";
		--_font-code: "Fira Code Variable";

		--font-body: var(--_font-body, var(--default-font-family));
		--font-code: var(--_font-code, var(--default-mono-font-family));

		font-family: var(--font-body);
	}
}

/**
 * ============================================================================================
 * Storybook.
 * ============================================================================================
 */

@layer base {
	.docs-story {
		background-color: var(--color-background-base);
		color: var(--color-text-strong);
		font-family: var(--font-body);
	}
}
