# =================================================================================================
# environment variables for next.js application
# =================================================================================================

# =================================================================================================
# app
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

NEXT_PUBLIC_APP_BASE_URL="http://localhost:3001"
# imprint service
NEXT_PUBLIC_APP_IMPRINT_CUSTOM_CONFIG="enabled"
NEXT_PUBLIC_APP_IMPRINT_SERVICE_BASE_URL="https://imprint.acdh.oeaw.ac.at"
NEXT_PUBLIC_APP_SERVICE_ID="22513"
# web crawlers
NEXT_PUBLIC_APP_BOTS="disabled"
# validate environment variables
ENV_VALIDATION="enabled"

# =================================================================================================
# auth
# =================================================================================================

AUTH_ENCRYPTION_KEY=# `openssl rand --hex 16`
AUTH_SIGN_UP="disabled"

# =================================================================================================
# analytics
# =================================================================================================

# production
# -------------------------------------------------------------------------------------------------

# =================================================================================================
# database
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

DATABASE_HOST="localhost"
DATABASE_NAME="the-knowledge-base"
DATABASE_PASSWORD=# `openssl rand --hex 32`
DATABASE_PORT="5432"
# DATABASE_SSL_CONNECTION="disabled"
DATABASE_USER="the-knowledge-base"

# =================================================================================================
# search
# =================================================================================================

NEXT_PUBLIC_TYPESENSE_RESOURCE_COLLECTION_NAME="the-knowledge-base-resources"
NEXT_PUBLIC_TYPESENSE_WEBSITE_COLLECTION_NAME="the-knowledge-base-website"

# local
# -------------------------------------------------------------------------------------------------

NEXT_PUBLIC_TYPESENSE_HOST="localhost"
NEXT_PUBLIC_TYPESENSE_PORT="8108"
NEXT_PUBLIC_TYPESENSE_PROTOCOL="http"
NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
TYPESENSE_ADMIN_API_KEY=# `openssl rand --hex 32`

TYPESENSE_DASHBOARD_PORT="5050"

# production
# -------------------------------------------------------------------------------------------------

# NEXT_PUBLIC_TYPESENSE_HOST="typesense.acdh-dev.oeaw.ac.at"
# NEXT_PUBLIC_TYPESENSE_PORT="443"
# NEXT_PUBLIC_TYPESENSE_PROTOCOL="https"
# NEXT_PUBLIC_TYPESENSE_SEARCH_API_KEY=
# TYPESENSE_ADMIN_API_KEY=

# =================================================================================================
# email
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

EMAIL_ADDRESS="acdh@example.com"
EMAIL_SMTP_PORT="1025"
EMAIL_SMTP_SERVER="localhost"
# EMAIL_SSL_CONNECTION="disabled"

# for e2e tests
MAILPIT_API_BASE_URL="http://localhost:8025"
MAILPIT_API_PORT="8025"

# production
# -------------------------------------------------------------------------------------------------

# EMAIL_ADDRESS=
# EMAIL_SMTP_PASSWORD=
# EMAIL_SMTP_PORT="587"
# EMAIL_SMTP_SERVER="smtp.oeaw.ac.at"
# EMAIL_SMTP_USERNAME=
# EMAIL_SSL_CONNECTION="disabled"

# =================================================================================================
# storage
# =================================================================================================

S3_BUCKET_NAME="the-knowledge-base"

# local
# -------------------------------------------------------------------------------------------------

# also used for minio web ui sign-in in local development
S3_ACCESS_KEY=# `openssl rand --hex 16`
S3_HOST="localhost"
S3_PORT="9000"
S3_PROTOCOL="http"
# also used for minio web ui sign-in in local development
S3_SECRET_KEY=# `openssl rand --hex 32`

MINIO_WEB_UI_PORT="9001"

# production
# -------------------------------------------------------------------------------------------------

# S3_ACCESS_KEY=
# S3_HOST="s3.acdh-ch-dev.oeaw.ac.at"
# S3_PORT="443"
# S3_PROTOCOL="https"
# S3_SECRET_KEY=

# =================================================================================================
# images
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

IMGPROXY_BASE_URL="http://localhost:8080"
IMGPROXY_KEY=# `openssl rand --hex 32`
IMGPROXY_PORT="8080"
IMGPROXY_SALT=# `openssl rand --hex 16`

# production
# -------------------------------------------------------------------------------------------------

# IMGPROXY_BASE_URL="https://imgproxy.acdh.oeaw.ac.at"
# IMGPROXY_KEY=
# IMGPROXY_PORT="443"
# IMGPROXY_SALT=

# =================================================================================================
# revalidation webhook
# =================================================================================================

REVALIDATION_WEBHOOK_SECRET=# `openssl rand --hex 32`
REVALIDATION_WEBHOOK_URL="http://localhost:3002/api/revalidate"

# =================================================================================================
# search index api routes
# =================================================================================================

SEARCH_SYNC_API_SECRET=# `openssl rand --hex 32`
