# =================================================================================================
# app
# =================================================================================================

API_PORT="3002"
API_BASE_URL="http://localhost:${API_PORT}"
API_LOG_LEVEL="info"

# =================================================================================================
# cors
# =================================================================================================

# comma-separated list
API_ALLOWED_ORIGINS=

# =================================================================================================
# database
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

DATABASE_HOST="localhost"
DATABASE_NAME="the-knowledge-base"
DATABASE_PASSWORD=# `openssl rand --hex 32`
DATABASE_PORT="5432"
# DATABASE_SSL_CONNECTION="disabled"
DATABASE_USER="the-knowledge-base"

# =================================================================================================
# rate limiter
# =================================================================================================

# requests with this token in the `x-api-access-token` header bypass rate limiting.
API_ACCESS_TOKEN=# `openssl rand --hex 32`

# =================================================================================================
# storage
# =================================================================================================

S3_BUCKET_NAME="the-knowledge-base"

# local
# -------------------------------------------------------------------------------------------------

# also used for minio web ui sign-in in local development
S3_ACCESS_KEY=# `openssl rand --hex 16`
S3_HOST="localhost"
S3_PORT="9000"
S3_PROTOCOL="http"
# also used for minio web ui sign-in in local development
S3_SECRET_KEY=# `openssl rand --hex 32`

MINIO_WEB_UI_PORT="9001"

# production
# -------------------------------------------------------------------------------------------------

# S3_ACCESS_KEY=
# S3_HOST="s3.acdh-ch-dev.oeaw.ac.at"
# S3_PORT="443"
# S3_PROTOCOL="https"
# S3_SECRET_KEY=

# =================================================================================================
# images
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

IMGPROXY_BASE_URL="http://localhost:8080"
IMGPROXY_KEY=# `openssl rand --hex 32`
IMGPROXY_PORT="8080"
IMGPROXY_SALT=# `openssl rand --hex 16`

# production
# -------------------------------------------------------------------------------------------------

# IMGPROXY_BASE_URL="https://imgproxy.acdh.oeaw.ac.at"
# IMGPROXY_KEY=
# IMGPROXY_PORT="443"
# IMGPROXY_SALT=

# =================================================================================================
# mailing list
# =================================================================================================

# local
# -------------------------------------------------------------------------------------------------

# MAILCHIMP_API_BASE_URL=
# MAILCHIMP_API_KEY=
# MAILCHIMP_LIST_ID=

# production
# -------------------------------------------------------------------------------------------------

# MAILCHIMP_API_BASE_URL=
# MAILCHIMP_API_KEY=
# MAILCHIMP_LIST_ID=

# =================================================================================================
# search (to resolve related resources)
# =================================================================================================

TYPESENSE_RESOURCE_COLLECTION_NAME="kb-resources"
TYPESENSE_WEBSITE_COLLECTION_NAME="kb-website"

# local
# -------------------------------------------------------------------------------------------------

TYPESENSE_ADMIN_API_KEY=
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_SEARCH_API_KEY=

# production
# -------------------------------------------------------------------------------------------------

# TYPESENSE_ADMIN_API_KEY=
# TYPESENSE_HOST="typesense.acdh-dev.oeaw.ac.at"
# TYPESENSE_PORT="443"
# TYPESENSE_PROTOCOL="https"
# TYPESENSE_SEARCH_API_KEY=
